<div class="w-full max-w-3xl mx-auto bg-white my-32">
  <%= form_with(model: post, local: true) do |form| %>
    <% if post.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

        <ul>
          <% post.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= form.text_field :title, placeholder: 'title', class: 'block w-full text-5xl font-bold focus:outline-none' %>

    <%= form.rich_text_area :content, placeholder: 'content', class: 'mt-4 focus:outline-none prose' %>

    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
</div>
